<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <aside class="sidebar">
        <div class="sidebar-header">
          <img src="assets\fotos\2ff139fb-7a85-4d6c-8c62-6d874374d095-removebg-preview.png" alt="logo" />
          <h2>Proyecto Fruton</h2>
        </div>
        <ul class="sidebar-links">
          <h4>
            <span>Main Menu</span>
            <div class="menu-separator"></div>
          </h4>
          <li>
            <a href="/dashboard">
              <span class="material-symbols-outlined"> dashboard </span>Dashboard</a>
          </li>
          <li>
            <a href="/listar-productos"><span class="material-symbols-outlined"> overview </span>Lista de Productos</a>
          </li>
          <li>
            <a href="/catalogo"><span class="material-symbols-outlined"> monitoring </span>Catalogo</a>
          </li>
          <h4>
            <span>General</span>
            <div class="menu-separator"></div>
          </h4>
          <li>
            <a href="/roles"><span class="material-symbols-outlined"> badge </span>Roles</a>
          </li>
          <li>
            <a href="/usuarios"><span class="material-symbols-outlined"> groups </span>Usuarios</a>
          </li>
          <li>
            <a href="/inventario"><span class="material-symbols-outlined"> Inventory_2 </span>Inventario</a>
          </li>
          <li>
            <a href="/categorias"><span class="material-symbols-outlined"> Category </span>Categorias</a>
          </li>
          <li>
            <a href="/tipo-producto"><span class="material-symbols-outlined"> overview </span>Tipo de Producto</a>
          </li>
          <li>
            <a href="/produccion"><span class="material-symbols-outlined">  production_quantity_limits </span>Produccion</a>
          </li>
          <li>
            <a href="/ventas"><span class="material-symbols-outlined">  point_of_sale </span>Ventas</a>
          </li>
          <li>
            <a href="/pedidos"><span class="material-symbols-outlined"> list_alt </span>Pedidos</a>
          </li>
          <li>
            <a href="/reportes"><span class="material-symbols-outlined"> list </span>Reportes</a>
          </li>
          <li>
            <a href="/stock-categoria"><span class="material-symbols-outlined"> list_alt </span>Stock Categoría</a>
          </li>
          <h4>
            <span>Account</span>
            <div class="menu-separator"></div>
          </h4>
          <li>
            <a href="#"><span class="material-symbols-outlined"> account_circle </span>Profile</a>
          </li>
          <li>
            <a href="#"><span class="material-symbols-outlined"> settings </span>Settings</a>
          </li>
          <li>
            <a href="#" (click)="logout()">
              <span class="material-symbols-outlined"> logout </span>Logout
            </a>
          </li>
        </ul>
        <div class="user-account">
          <div class="user-profile">
            <img src="assets\fotos\7liass.jpg" alt="Profile Image" />
            <div class="user-detail">
              <h3>José</h3>
              <span>Web Developer</span>
            </div>
          </div>
        </div>
      </aside>
</body>
</html>

