<div class="app-container">
    <app-sidenav></app-sidenav>
    <div class="main-content">
      <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card">
                    <div class="card-body text-center">
                        <span class="titulo">LISTADO TIPOS DE PRODUCTOS</span>
                        <button class="btn btn-success float-end" routerLink="/crear-tipoproducto">NUEVO</button>
                        <table *ngIf="listProductos.length > 0" class="table table-striped mt-2">
                            <thead>
                              <tr>
                                <th scope="col">Tipo Producto</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Precio (S/.)</th>
                                <th scope="col">Stock (und.)</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let producto of listProductos">
                                <td>{{ producto.nombre}}</td>
                                <td>{{ producto.descripcion}}</td>
                                <td>{{ producto.categoria}}</td>
                                <td>{{ producto.precio}}</td>
                                <td>{{ producto.stock}}</td>
                                <td>
                                    <i [routerLink]="['/editar-tipoproducto', producto._id]" class="fas fa-solid fa-pen-to-square text-primary"></i>
                                    <i (click)="eliminarTipoProducto(producto._id)" class="fas fa-solid fa-trash text-danger"></i>
                                </td>
                              </tr>
              
                            </tbody>
                        </table>
                        <h5 style="text-align: start; margin-top: 10px;" *ngIf="listProductos.length == 0">No hay productos para mostrar</h5>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    </div>
  </div>
