<div class="app-container">
    <app-sidenav></app-sidenav>
    <div class="main-content">
        <div class="row">
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="assets\fotos\cremolada de chocolate.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Cremolada de Chocolate</h5>
                      <p class="card-text">Cremolada de chocolate está hecha con ingredientes de la más alta calidad, perfecta para refrescarte en cualquier momento del día.</p>
                      <a href="/ver-producto" class="btn btn-primary">Ver producto</a>
                    </div>
                  </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="assets\fotos\cremolada de coco.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Cremolada de Coco</h5>
                      <p class="card-text">Cremolada de coco hecha con coco natural, es la elección ideal para aquellos que buscan una bebida refrescante y deliciosa.</p>
                      <a href="/ver-producto" class="btn btn-primary">Ver producto</a>
                    </div>
                  </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="assets\fotos\cremolada de mango.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Cremolada de Mango</h5>
                      <p class="card-text">Saborea la dulzura del mango maduro en nuestra cremolada. Esta deliciosa bebida te transportará a un paraíso tropical con cada sorbo. </p>
                      <a href="/ver-producto" class="btn btn-primary">Ver producto</a>
                    </div>
                  </div>
              </div>
              <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="assets\fotos\cremolada de lucuma.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Cremolada de Lucuma</h5>
                      <p class="card-text">Experimenta el sabor exótico de la lúcuma con nuestra cremolada. Perfecta para los amantes de los sabores únicos y refrescantes.</p>
                      <a href="/ver-producto" class="btn btn-primary">Ver producto</a>
                    </div>
                  </div>
              </div>
              
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="assets\fotos\cremolada de fresa.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Cremolada de Fresa</h5>
                      <p class="card-text">Refresca tu día con el sabor las fresas frescas. Nuestra cremolada de fresa es una explosión de sabor que te encantará.</p>
                      <a href="/ver-producto" class="btn btn-primary">Ver producto</a>
                    </div>
                  </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="assets\fotos\empanada-carne.png" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Empanada de Carne</h5>
                      <p class="card-text">Empanada de carne, rellena con carne jugosa y sazonada a la perfección. Ideal para un snack rápido o una comida ligera.
                      </p>
                      <a href="/ver-producto" class="btn btn-primary">Ver producto</a>
                    </div>
                  </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="assets\fotos\empanada de pollo.png" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Empanada de Pollo</h5>
                      <p class="card-text">Prueba nuestra empanada de pollo, con un relleno suculento de pollo y especias, envuelto en una masa crujiente y dorada.</p>
                      <a href="/ver-producto" class="btn btn-primary">Ver producto</a>
                    </div>
                  </div>
              </div>
              <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="assets\fotos\torta de chocolate.png" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Torta de Chocolate</h5>
                      <p class="card-text">Satisface tu antojo de dulce con nuestra deliciosa torta de chocolate. Rica y húmeda, perfecta para cualquier ocasión.</p>
                      <a href="/ver-producto" class="btn btn-primary">Ver producto</a>
                    </div>
                  </div>
              </div>
              
        </div>
        <br>
        <div class="row">
          <div class="col-sm-3">
              <div class="card" style="width: 18rem;">
                  <img src="assets\fotos\Keke-Especial-Rect-marmoleado.png" class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Queque Marmoleado</h5>
                    <p class="card-text">Disfruta de la combinación perfecta de sabores de vainilla y chocolate en nuestro queque marmoleado.</p>
                    <a href="/ver-producto" class="btn btn-primary">Ver producto</a>
                  </div>
                </div>
          </div>
          <div class="col-sm-3">
              <div class="card" style="width: 18rem;">
                  <img src="assets\fotos\jugo de fresa.jpg" class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Jugo de Fresa</h5>
                    <p class="card-text">Refresca tu día con nuestro jugo de fresa, hecho con fresas frescas y naturales.</p>
                    <a href="/ver-producto" class="btn btn-primary">Ver producto</a>
                  </div>
                </div>
          </div>
          <div class="col-sm-3">
              <div class="card" style="width: 18rem;">
                  <img src="assets\fotos\jugo-papaya.png" class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Jugo de papaya</h5>
                    <p class="card-text">Disfruta del jugo de papaya, una bebida refrescante y nutritiva, rica en vitaminas y minerales.</p>
                    <a href="/ver-producto" class="btn btn-primary">Ver producto</a>
                  </div>
                </div>
            </div>
            <div class="col-sm-3">
              <div class="card" style="width: 18rem;">
                  <img src="assets\fotos\mazamorra-morada.jpg" class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Mazamorra morada</h5>
                    <p class="card-text">Saborea la tradicional mazamorra morada, un postre peruano hecho con maíz morado, frutas y especias.</p>
                    <a href="/ver-producto" class="btn btn-primary">Ver producto</a>
                  </div>
                </div>
            </div>
            
      </div>
    </div>
</div>

