<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE PRODUCTOS</span>
                    <button class="btn btn-success float-end" routerLink="/crear-producto">NUEVO</button>
                    <table class="table table-striped mt-2">
                        <thead>
                          <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Stock</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>  
                            <td>Cremolada de Fresa</td>
                            <td>Bebida refrescante de frutas naturales</td>
                            <td>Bebidas frías</td>
                            <td>S/6.00</td>
                            <td>30</td>
                            <td>
                                <i class="fas fa-solid fa-pen-to-square text-primary"></i>
                                <i class="fas fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                          <tr>
                            <td>Cremolada de Fresa</td>
                            <td>Bebida refrescante de frutas naturales</td>
                            <td>Bebidas frías</td>
                            <td>S/6.00</td>
                            <td>30</td>
                            <td>
                                <i class="fas fa-solid fa-pen-to-square text-primary"></i>
                                <i class="fas fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                          <tr>
                            <td>Cremolada de Fresa</td>
                            <td>Bebida refrescante de frutas naturales</td>
                            <td>Bebidas frías</td>
                            <td>S/6.00</td>
                            <td>30</td>
                            <td>
                                <i class="fas fa-solid fa-pen-to-square text-primary"></i>
                                <i class="fas fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>