<div class="app-container">
  <app-sidenav></app-sidenav>
  <div class="main-content">
    <div class="container mt-5">
      <div class="row">
          <div class="col-lg-8 offset-lg-2">
              <div class="card">
                  <div class="card-body text-center">
                      <span class="titulo">LISTADO DE PRODUCTOS</span>
                      <button class="btn btn-success float-end" routerLink="/crear-producto">NUEVO</button>
                                            
                      <div class="filtroCategoria">
                        <select [(ngModel)]="buscar_categoria">
                          <option value="todos">Todos los productos</option>
                          <option  *ngFor="let categoria of listCategoria" value={{categoria.nombreCategoria}}>
                            {{categoria.nombreCategoria}}</option>                            
                        </select>
                        <button class="btn btn-success float-end" (click)="buscarProducto()">BUSCAR</button>
                      </div>
                      <table *ngIf="listProductos.length > 0" class="table table-striped mt-2">
                          <thead>
                            <tr>
                              <th scope="col">Imagen</th>
                              <th scope="col">Producto</th>
                              <th scope="col">Descripcion</th>
                              <th scope="col">Categoria</th>
                              <th scope="col">Precio</th>
                              <th scope="col">Stock</th>
                              <th scope="col"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let producto of listProductos">  
                              <td><img src={{producto.imagen}} alt="" width="80px"></td>
                              <td>{{ producto.nombre}}</td>
                              <td>{{ producto.descripcion.split(' ').slice(0, 8).join(' ')}}...</td>
                              <td>{{ producto.categoria}}</td>
                              <td>{{ producto.precio}}</td>
                              <td>{{ producto.stock}}</td>
                              <td>
                                  <i [routerLink]="['/editar-producto', producto._id]" class="fas fa-solid fa-pen-to-square text-primary"></i>
                                  <i (click)="eliminarProducto(producto._id)" class="fas fa-solid fa-trash text-danger"></i>
                              </td>
                            </tr>
            
                          </tbody>
                      </table>
                      <h5 style="text-align: start; margin-top: 10px;" *ngIf="listProductos.length == 0">No hay productos para mostrar</h5>
                  </div>
              </div>
          </div>
          <!--alerta-->
          <div *ngIf="alertaVisible" class="alert alert-success alerta-posicionada" role="alert">
            {{ mensajeAlerta }}
          </div>
      </div>
  </div>
  </div>
</div>

