<div class="app-container">

  <!--sidenav-->
  <app-sidenav style="z-index: 2;"></app-sidenav>

  <!--container sec-->
  <div class="container" style="z-index: 1;">

    <!--lista venta-->
    <div class="listas listaVenta">
      <h2 *ngIf="isVisible" style="position: absolute; top: 30%; left: 25%;">La lista está vacia</h2>
      <div class="producto-pedido">
        <div *ngFor="let producto of listaPedidos" class="card-pedido">
          <img [src]="producto.imagen" alt="Imagen del producto">
          <div class="body">
            <h5 style="font-weight: 700;">{{ producto.nombre }}</h5>
            <p>Precio: S/{{producto.precio}}</p>
            <p style="font-weight: 500;">Cantidad: {{producto.cantidad}}</p>
          </div>
          <div (click)="eliminarPedido(producto.nombre)" class="eliminar-pedido">
            <i  class="fa-solid fa-trash" style="color: #ffffff;"></i>
          </div>
        </div>
      </div>
      <div class="precio-final">
        <div class="p1">
          <p>Total</p>
          <p style="font-weight: 700;">S/{{total}}</p>
        </div>
        <div class="p2">
          <div (click)="registrarVenta()" class="btn btn-danger">Continuar</div>
        </div>
      </div>
    </div>

    <!--catalago-->
    <div class="listas catalogoProductos">
      <nav class="categorias">
        <a (click)="obtenerProductos()">Todos</a>
        <a *ngFor="let categoria of listCategorias" class="col-md-3"
          (click)="filtrarCategoria(categoria.nombreCategoria)">{{categoria.nombreCategoria}} </a>
      </nav>


      <div class="container-productos">
        <div *ngFor="let producto of productos" class="col-md-3" style="margin-bottom: 10px;">
          <div class="card card-general" style="width: 9rem; height: 320px; margin-bottom: 10px;">
            <img [src]="producto.imagen" alt="Imagen del producto" class="card-img-top">
            <div class="card-body">
              <h6 class="card-title" style="font-weight: 700;">{{ producto.nombre }}</h6>
              <h6>Precio: S/{{producto.precio}}</h6>
              <div class="btn btn-outline-primary btn-sm" (click)="obtenerPedido(producto.nombre)">Agregar</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>