.modal-producto{
    width: 750px;
    height: 440px;
    background-color: #fff;
    position: fixed;
    top: 12%;
    left: 30% ;
    border-radius: 30px;
    box-shadow: 1px 1px 100px #0000005f ;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}


img{
    width: 55%;
    height: 400px;
    margin: auto;
    object-fit: fill;
    border-radius: 20px 20px 20px 20px ;
}

.desc{
    width: 40%;
    height: 100%;
    padding: 0 30px 0 40px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: flex-end;
    text-align: right;
    text-justify: newspaper;
}
button{
    margin-top: 10px;
    width: 90px;
}

