<div class="app-container">
  <app-sidenav></app-sidenav>

  <div class="main-content">
    <h1>Ventas del dia</h1>
    <table class="table" style="text-align: center;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cliente</th>
          <th scope="col">Productos</th>
          <th scope="col">Cantidades</th>
          <th scope="col">Estado</th>
          <th scope="col">Reporte</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let pedido of listPedidos; let i = index">
          <tr>
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ pedido.nombreCliente }}</td>
            <td>
              <div *ngFor="let producto of pedido.productos; let j = index">
                {{ producto.nombre }} (Precio: {{ producto.precio }})
              </div>
            </td>
            <td>
              <div *ngFor="let cantidad of pedido.cantidades; let j = index">
                {{ cantidad }}
              </div>
            </td>
            <td>
              <button (click)="cambiarEstado(pedido)" [disabled]="pedido.estado === 'Cancelado'">{{ pedido.estado
                }}</button>
            </td>
            <td>
              <i data-bs-toggle="modal" data-bs-target="#reclamoModal" class="fa-solid fa-clipboard"
                style="font-size: 25px; color: rgb(11, 98, 237); cursor: pointer;"
                (click)="obtenerDatos(pedido.fechaPedido, i+1,pedido.nombreCliente)"></i>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>



  <!--MODAL--><!-- Modal -->
  <div class="modal " id="reclamoModal" tabindex="-1" aria-labelledby="reclamoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reclamoModalLabel">Registrar Reclamo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


          <!--Form Reporte-->
          <form [formGroup]="reporteForm" (ngSubmit)="crearReporte()">

            <div class="mb-3">
              <label for="descripcion" class="form-label">Descripción del reclamo</label>
              <textarea type="text" style="height: 150px;" class="form-control" formControlName="desReporte"
                placeholder="Descripción detallada" required></textarea>
              <div class="text-danger"
                *ngIf="reporteForm.get('desReporte')?.hasError('required') && reporteForm.get('desReporte')?.touched">
                <span>El detalle del reclamo<strong> es obligatorio</strong></span>
              </div>
            </div>

            <div class="mb-3">
              <label for="tipoReclamo" class="form-label">Tipo de reclamo</label>
              <select class="form-select" id="tipoReclamo" formControlName="tipoReporte">
                <option selected>Seleccionar</option>
                <option value="devolucion">Devolución</option>
                <option value="cambio">Cambio</option>
              </select>
              <div class="text-danger"
                *ngIf="reporteForm.get('tipoReporte')?.hasError('required') && reporteForm.get('tipoReporte')?.touched">
                <span>El tipo de reclamo<strong> es obligatorio</strong></span>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal" [disabled]="reporteForm.invalid">Registrar</button>

            </div>

          </form>


        </div>
      </div>
    </div>
  </div>



</div>