.modal-content {
    border-radius: 20px;
  }
  
  /* Estilo para los campos de entrada */
  .modal-body .form-control,
  .modal-body .form-select {
    border-radius: 15px;
    background-color: #e9ecef;
  }
  
  /* Estilo para el botón de Aceptar */
  .btn-success {
    background-color: #28a745;
    border: none;
  }
  
  .btn-success:hover {
    background-color: #218838;
  }